<!doctype html>
<html lang="jp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>TO-DO APP</title>
  <link rel="stylesheet" href="styles/style.css">
  <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
  <div id="app" class="contents">
    <h1>{{ appName }}</h1>

    <table class="form">
      <tr>
        <td><input v-model="title" type="text"></td>
        <td><button @click="addTask" class="button add">Add</button></td>
      </tr>
    </table>

    <table class="task">
      <tr v-for="task in tasks" :key="task.id">
        <td><button @click="changeStatus(task.id)" class="button" :class="{ done: task.done }"><span v-if="task.done">Done</span><span v-else>Pending</span></button></td>
        <td v-if="task.id != edit">{{ task.title }}</td>
        <td v-else><input v-model="task.title" type="text"></td>
        <td v-if="task.id != edit"><button @click="editTask(task.id)" class="button edit">Edit</button></td>
        <td v-else><button @click="saveTasks" class="button save">Save</button></td>
        <td><button @click="deleteTask(task.id)" class="button delete">Delete</button></td>
      </tr>
    </table>
  </div>

  <script src="scripts/main.js"></script>
</body>
</html>
